:root {
    --primary-color: #017C89;
    --secondary-color: #127883;
    --hover-color: #0c4f56;
    --error-color: #f8d7da;
    --success-color: #d1e7dd;
    --warning-color: #fff3cd;
}
* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: 'Lato', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

label {
    margin-bottom: 4px;
    display: inline-block;
}

.form-container {
    background-color: #FFFFFF;
    border-radius: 7px;
    padding: 30px;
}

.login {
    width: 500px;
    margin: 0 auto;
    margin-top: 40px;
}

.fila {
    margin-bottom: 16px;
}

.form-control {
    background-color: #eeeeee;
    border: 0;
    display: block;
    outline-color: #4260e7;
    padding: 8px 15px;
    width: 100%;
}

.btn {
    background-color: var(--secondary-color);
    color: #ffffff;
    border-radius: 6px;
    padding: 8px 15px;
    border: none;
}

.btn:hover {
    background-color: var(--hover-color);
    cursor: pointer;
}
.texto-centrado {
    text-align: center;
}

.link {
    color: var(--secondary-color);
    text-decoration: none;
}

.input-error {
    border: 2px solid red;
    outline-color: red;
}

.alert {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
    border-radius:  7px;
}

.alert-error {
    background-color: var(--error-color);
    color: #842029;
    border: 1px solid #f5c2c7;
}
.alert-success {
    background-color: var(--success-color);
    color: #0f5132;
    border: 1px solid #badbcc;
}
.alert-warning {
    background-color: var(--warning-color);
    color: #664d03;
    border: 1px solid #ffecb5;
}
.alert-float {
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
}
.app-mensajes {
    width: 450px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
#map {
    width: 100%;
    height: 100vh;
}
